<div class="container">
    <div class="modal-box">
        <h1 class="title">
            Create a new Post
        </h1>
        
        <form #newPosts="ngForm" (ngSubmit)="createPost()">
            <div class="titlediv">
                <label for="title" class="form-label">Title</label>
                <input type="text" [(ngModel)]="title" class="form-control" name="title" required minlength="2" #newPost="ngModel" >
                <small class="form-text text-muted" *ngIf="newPost.touched && !newPost.valid">Please enter a title, atleast 2 characters long.</small>
            </div>
            <div class="contentdiv">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" [(ngModel)]="content" rows="4" name="content" required minlength="10" #newContent="ngModel" ></textarea>
                <small class="form-text text-muted" *ngIf="newContent.touched && !newContent.valid">Please enter post-content, atleast 10 characters long.</small>
            </div>
            <button type="submit" class="btn btn-primary addbtn" [disabled]="!newPosts.valid">Create Post</button>
            <button type="button" class="btn btn-dark cancelbtn" (click)="cancel()">Cancel</button>
        </form> 

    </div>
</div>
