<div class="container">
    <div class="blog-manager-container">
        <div class="sidebar">
            <div class="sidebar-header">
                <h1 class="title">
                    Blogs
                </h1>
                <button type="button" class="btn btn-outline-dark btn-sm" routerLink="/new-blog">+ Add Blog</button>
            </div>

            <div class="blog-menu"  *ngFor="let b of blogs; let i = index" [blogId]="b.id" routerLinkActive="active">
                <a class="blog-menu-item" routerLink="/blogs/{{b.id}}" >
                    <h5 class="blogtitle">{{ b.title }}</h5>
                </a> 
                <div class="changebuttons">
                    <i class="fas fa-edit" routerLink="/edit-blog/{{ b.id }}"></i>
                    <i class="fas fa-times" (click)="deleteBlog(b)"></i>
                </div>
            </div>   
        </div>
        
        <div class="blogs-list-container">
            <div class="blog-list-header">
                <h1 class="title">
                    Blog Content
                </h1>
                <button type="button" class="btn btn-outline-dark btn-sm" routerLink="./new-post">+ Add Post to Blog</button>
            </div>

            <div class="blog-post-container" >
            <app-post-view *ngFor="let p of posts" [post]="p" [@postEntry]></app-post-view>
            </div>
               
        </div>
    </div>
</div>
